# Binary builds
bin/

# Configuration (Never commit your real .yaml file)
configs/local.yaml
configs/local_tests.yaml

# Keep the example/template version
!configs/local.example.yaml

/vendor/
/proto/sso/buf/
/proto/sso/vendor/
/pkg